.App {
  width: 100vw;
  background-color: #d5d5d5;
  display: flex;
  height: 100vh;
  flex: 1;
  justify-content: center;
  overflow-x: hidden;
}

.HeaderForm {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.Form {
  background-color: white;
  flex: 1;
  flex-direction: row;
  margin: 1%;
  border-radius: 12px;
  /*height: 100%;*/
  overflow-x: scroll;
  max-width: 900px;
}

.Form::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}


.FormInput {
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: start;
}

.InputStyle {
  margin-top: 30px;
  margin-bottom: 7px;
}

.InputStyleToRWD {
  width: 50%;
  margin-left: 10px;
}

.MoreElementInDiv {
  flex: 1;
  display: flex;
}

.CategoryName {
  font-size: 23px;
}


.PDFContainer {
  /*width: 21cm;*/
  margin: 0 auto;
  padding: 1.5cm;
  background-color: white;
}

.PDFTitle {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.PDFText {
  font-size: 12px;
  margin-top: 20px;
}

.sign§ {
  text-align: center;
}


.TableStyle {
  border: 1px solid grey;
}

.SignatureContainer {
  flex: 1;
  display: flex;
  width: 100%;
  margin-top: 50px;
}

.SignatureContainerSingleElement {
  flex: 0.5;
  display: flex;
  font-size: 12px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.ButtonContainer {
  background-color: rgb(2, 161, 2);
  border: 1px solid green;
  border-radius: 6px;
  flex-direction: row;
  flex: 1;
  margin: 10%;
  text-align: center;
}

.ButtonPrint {
  border: 1px solid green;
  border-radius: 12px;
  margin-top: 50px;
  height: 40px;
  width: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}

.InputContainer {
  margin-top: 20px;
}

@media (max-width: 842px) {

  .TwoElementContainer
  {
    flex-direction: column;
    flex: 1;
    display: flex;
  }

  .OneElementContainer {
    width: 100%;
    margin-top: 10px;
  }
}

.OneElementContainer {
  width:100%;
  margin-right: 20px;
}

.TwoElementContainer {
  flex: 1;
  display: flex;
  margin-bottom: 10px;
}

.AddElement {
  flex-direction: row;
  /*flex: 1;*/
  display: flex;
  border: 1px solid green;
  border-radius: 6px;
  align-items: center;
  height: 30px;
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


.ButtonGenerate {
  color: white;
  font-weight: bold;
}

.PrintAndBackContainer {
  flex: 1;
  display: flex;
  background-color: rgba(40, 138, 40, 0.19);
  margin: 20px;
  justify-content: center;
  border-radius: 6px;
}

.ButtonTopPDF {
  background-color: green;
  padding-left: 4%;
  padding-right: 4%;
  border-radius: 6px;
  color: white;
  margin: 20px;
}

/*POPUP*/
.popupContainer{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;

}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(102, 102, 102, 0.7);
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 90%;
  background-color: #fff;
  border-radius: 10px;
}

.popup-inner .close-bnt {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: white;
  border: 1px solid white;
}
